.edit-button-inline {
  display: inline-block !important;;

  @media only screen and (max-width: 767px) {
    display: none !important;
  }
}

.edit-button-discrete {
  display: none !important;;

  @media only screen and (max-width: 767px) {
    display: inline-block !important;
  }
}
